@import '../../_config.scss';

/*Box*/
.box {
    position:relative;
    background-size: contain !important;
    background-position: center !important;
    height: 720px;
    width: 1280px;
    @include transition(0.1s);
    z-index: 1;

    &:hover {

        .overlay {
            background: rgba(0,0,0,0.45);
            @include transition(0.25s);
        }

        h3, h2 {
            visibility: visible;
        }
    }

    .overlay {
        background: rgba(0,0,0,0);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin:0;
        padding:0;
        @include transition(0.1s);
    }

    h3, h2 {
        position:absolute;
        width:100%;
        bottom:0;
        text-align:center;
        z-index: 3;
        visibility: hidden;
        color: #ffffff
    }
}