@import '../../_config.scss';

/*Box*/
.wrapper{
    text-align: center;
    padding-top: 75px;

    .box {
        position:relative;
        display: inline-block;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000000;
        height: 563px;
        width: 1024px;
        @include transition(0.1s);
        @include box-shadow(0px 0px 6px 2px rgba(0,0,0,0.5));
        z-index: 1;

        &:hover {

            .overlay {
                background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
                @include transition(0.25s);
            }

            .desktop {
                visibility: visible;
            }
        }

        .overlay {
            background: rgba(0,0,0,0);
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin:0;
            padding:0;
            @include transition(0.1s);
        }

        .desktop {
            position:absolute;
            width:100%;
            bottom:0;
            text-align:center;
            z-index: 3;
            visibility: hidden;
            color: #ffffff
        }
    }

    .mobile {
        display: none;
    }
}